body {
    font-family: sans-serif;
    background-color: black;
    color: red
}

header {
    background-color:blue;
    padding: 30px;
}


header a {
    background-color: black;
    text-decoration: 10px;
    border-radius: 25px;
    padding: 10px;
    color: red;
}
